%no-float {
    float: none !important;
    margin: {
        left: auto;
        right: auto;
    }
}

#map {
    max-height: 400px;
    min-height: 100px;
    width: 100%;
}

%but {
    background: {
        color: transparent;
    }
    border:solid 3px rgba(255, 255, 255, .94);
    box-shadow:none;
    font: {
        weight: 400;
    }
}

%bs {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2);
}

.show {
    display: block;
}

#sidenav-overlay {
    z-index: 1;
}

html {
    font: {
        size: 100%;
        family: 'Amatic SC', cursive;
    }
    background: {
        color: color('green', 'base');
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

p,
span {
    font: {
        family: 'Amatic SC', cursive;
        weight: 900 !important;
    }
}

a,
h1 {
    font: {
        family: 'Amatic SC Bold', cursive;
        weight: 400;
    }
}

input {
    font: {
        family: 'Roboto-Thin';
    }
}

header {
    z-index: 100;
    background: {
        color: #00BFAB;
    }
}

//**********************/
//*********  Navbar*****/
//**********************/
.menu-nav {
    line-height: inherit;
    a>i {
        color: color('shades', 'white');
        display: inline-block;
        margin-left: 1%;
    }
    .nav-wrapper {
        background: {
            color: #00BFAB;
        }
    }
    .brand-logo {
        color: color('shades', 'white');
        height: 100%;
        .logo {
            height: 80%;
            vertical-align: middle;
        }
    }
}

//**********************/
//**** Footer ******/
//*********************/
footer.page-footer {
    background: {
        color: #00C7AB;
    }
    padding: {
        top: 0;
    }
    .footer-copyright {
        line-height: inherit;
        p {
            color: color('shades', 'black');
            vertical-align: middle;
            padding-right: 5%;
        }
    }
}

//**********************/
//**** Home Page ******/
//*********************/
.carousel {
    height: 100vh !important;
    %bgg {
        background: {
            position: center;
            size: cover;
            repeat: no-repeat;
            blend-mode: overlay;
        }
    }
    .one {
        @extend %bgg;
        background-image: url('../images/3.jpg');
    }
    .two {
        @extend %bgg;
        background-image: url('../images/2.jpg');
        span {
            display: block;
        }
    }
    .carousel-item>div {
        height: calc(100% - 4rem);
        width: 95%;
        margin: {
            left: auto;
            right: auto;
        }
    }
    h1 {
        width: 100%;
        padding: .6em;
        @media #{$medium-and-down} {
            text-align: left;
            padding: {
                left: .5em;
            }
        }
        @media #{$small-and-down} {
            font: {
                size: 3.8rem;
            }
        }
    }
    .carousel-fixed-item a {
        text-transform: capitalize;
        min-width: 20%;
        font: {
            size: 3rem;
        }
        height: auto;
        padding: 0.3em;
        @extend %but;
    }
    .indicators {
        .indicator-item {
            &.active {
                background: {
                    color: #fff;
                }
            }
            border-radius: 0;
            background: {
                color: rgba(0, 0, 0, .5);
            }
            height: 15px;
            width: 15px;
        }
    }
}

//*****************************/
//**** Preview Overview ******/
//*****************************/
.preview-overview {
    h1 {
        // color: color('green', 'base');
        font: {
            size: 3.5rem;
            size: 6vw;
        }
    }
    .card-container {
        @extend %no-float;
    }
    .card {
        min-height: 100vh;
        // width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        @media #{$small-and-down} {
            float: none !important;
            margin: {
                left: auto;
                right: auto;
            }
        }
    }
    .formOutline {
        background-image: url(../images/3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .card-content {
            padding: 0;
            padding-top: 5px;
        }
        .card-panel {
            background: {
                color: rgba(0, 0, 0, .5);
                blend-mode: overlay;
            }
        }
    }
    .buttonGroup {
        a {
            @extend %but;
            padding: 3%;
            height: auto;
            font-size: 2.4em;
            margin-bottom: 1em;
            background: {
                color: color('shades', 'white');
            }
            border:solid 3px color('green',
            'base');
            color:color('green',
            'base');
        }
    }
}

//*****************************/
//**** Sign In & Up Form ******/
//*****************************/
.preview-overview {
    form {
        &>div {
            margin: {
                bottom: 0;
            }
        }
        .field-icon {
            color: color('shades', 'white');
            right: 0;
            top: 15%;
        }
        .input-field {
            margin: {
                top: 3%;
                bottom: 0;
                left: 0;
            }
        }
        input {
            color: color('shades', 'white');
            margin: {
                top: 0;
                bottom: 0;
                left: 0 !important;
            }
            border-bottom: 4px solid #fff;
            @media #{$small-and-down} {
                width: 100% !important;
            }
        }
        label[for="email"]:after {
            top: 35px;
        }
        .submitButton {
            background: {
                color: color('green', 'lighten-2') !important;
            }
            min-width: 60%;
            max-width:80%;
            margin: {
                top: 20px;
            }
        }
    }
    .signin {
        .logged {
            margin-left: 0;
            label {
                color: color('shades', 'white');
            }
        }
        .card {
            margin-top: 20%;
        }
    }
}

//**********************/
//**** Main Menu ******/
//*********************/
.home-overview {
    &>div {
        margin: {
            bottom: 0;
        }
    }
    .menu {
        text-align: center;
        position: relative;
        min-height: calc((100vh - 7.1em) / 2);
        background: {
            color: color('green', 'base');
        }
        a {
            @extend %but;
            position: absolute;
            top: 30%;
            left: 10%;
            right: 10%;
            bottom: 30%;
            padding: {
                top: 3%;
                bottom: 3%;
                left: 7%;
                right: 7%;
            }
            min-height: 3em;
            font: {
                size: 2em;
                weight: 400;
            }
            @media #{$medium-and-down} {
                font-size: 1.5em;
                min-height: 4em;
            }
        }
    }
    @each $num,
    $colr in(1:#02B298,
    2:#02A384,
    3:#05D3B5,
    4:#02B298) {
        .menu#{$num} {
            background-color: $colr;
        }
    }
}

//**********************/
//**** Reservation ******/
//*********************/
%green {
    color: color('green', 'base');
}

.optionOverview {
    margin: {
        top: 3%;
    }
}

.ResOverview {
    background: {
        color: #02B298;
    }
}

//**********************/
//**** Reseravtion Type ******/
//********************/
.options {
    @extend %no-float;
    margin: {
        left: auto;
        right: auto;
    }
    .card-panel {
        background: {
            color: color('shades', 'white');
        }
        @extend %green;
        a {
            @extend %green;
        }
    }
    .optionDetails {
        position: relative;
        left: calc(100% - 8rem);
        i {
            position: absolute;
        }
        .type {
            bottom: 65%;
        }
        .status {
            width: 6em;
            top: 65%;
        }
    }
}

//****************************/
//**** Reservation Form ******/
//****************************/
.reservationForm {
    &>div {
        @extend %no-float;
        .field-icon {
            right: -23px;
        }
        .payType {
            width: calc(100% - 3rem);
            margin: {
                left: 3rem;
            }
        }
        input.time {
            margin-left: 3rem !important;
        }
    }
}

//****************************/
//**** Select Driver ******/
//****************************/
.selectDriver {
    .bars {
        &>div {
            @extend %no-float;
        }
        img {
            max-height: 200px;
        }
    }
    .profile {
        p {
            margin: {
                top: 0;
                bottom: 0;
            }
        }
    }
    .price {
        .card-panel {
            padding: {
                top: 2px;
                bottom: 2px;
            }
            p {
                margin: {
                    top: 0;
                    bottom: 0;
                }
            }
            .review {
                cursor: hand;
            }
        }
    }
    .map {
        .card-panel {
            position: relative;
            a {
                bottom: 10%;
                position: absolute;
                left: 5%;
            }
            .mapCont {
                min-height: 100%;
            }
        }
    }
}

//****************************/
//**** Payment ******/
//****************************/
.payment-overview {
    &>div {
        @extend %no-float;
    }
    .input-field {
        margin: {
            top: 0;
            bottom: 0;
        }
        input {
            margin: {
                top: 0;
                bottom: 0;
            }
        }
    }
}

.paySuccess {
    &>div {
        @extend %no-float;
    }
}

//****************************/
//************** Driver ******/
//****************************/
.driverOverview {
    .request {
        &>div {
            @extend %no-float;
        }
        .card-panel {
            padding: 10px;
            &>div {
                margin: {
                    bottom: 0;
                }
            }
        }
        img {
            max-height: 64px;
            height: 54px;
        }
        p {
            margin: {
                top: 0;
                bottom: 0;
            }
        }
    }
}

//****************************/
//*********** Passenger ******/
//****************************/
.passOverview {
    .image {
        &>div {
            padding: {
                bottom: 0.5%;
            }
        }
        margin: {
            top: 4%;
        }
        img {
            max-height: 200px;
        }
    }
    .details,
    .pTime {
        p {
            margin: {
                top: 0;
                bottom: 0;
            }
        }
        .traffic,
        .time {
            @extend %no-float;
            .card-panel {
                padding: 10px;
            }
        }
    }
    .decision {
        .accept {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .decline {
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}

//****************************/
//******Traffic History ******/
//****************************/
.historyOverview {
    .card-panel {
        @extend %no-float;
        &>div {
            margin-bottom: 0;
        }
        .complete {
            a {
                margin-bottom: 4%;
            }
        }
    }
}